.App{
    min-width: 100%;
    min-height: 100%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
    min-height: 50vh;
    margin: 2rem 0 2rem 0;
    a{
        text-decoration: none;
        color: black;
    }
    
    &__button{
        font-family: 'PT Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
        border: 1px solid #000000;
        border-radius: 8px;
        background-color: white;
        padding: 1rem;
        min-width: 300px;
        max-width: 380px;
    }
}